.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #050816;
}

/* ================= VIDEO ================= */

.hero-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.08);
  filter: brightness(.95) contrast(1.05) saturate(1.2);
}

/* ================= OVERLAY ================= */

.overlay{
  position:absolute;
  inset:0;

  background:
  radial-gradient(circle at center,
  rgba(5,8,22,.20) 0%,
  rgba(5,8,22,.35) 35%,
  rgba(5,8,22,.70) 100%),

  linear-gradient(
  to right,
  rgba(5,8,22,.90),
  rgba(5,8,22,.28) 28%,
  rgba(5,8,22,.12) 50%,
  rgba(5,8,22,.28) 72%,
  rgba(5,8,22,.90));

  z-index:2;
}

/* ================= CONTENT ================= */

.hero-container{

    position:relative;
    z-index:5;

    width:92%;
    max-width:1500px;

    height:100%;

    margin:auto;

    padding-top:90px;

    display:grid;

    grid-template-columns:330px 1fr 330px;

    align-items:center;

    gap:65px;

}

/* ================= CARDS ================= */

.hero-card{

height:560px;

  border-radius:35px;

  overflow:hidden;

  backdrop-filter:blur(22px);

 background:linear-gradient(
180deg,
rgba(18,26,55,.18),
rgba(9,13,32,.92)
);

backdrop-filter:blur(24px);

  transition:.45s;

  position:relative;

}

.hero-card:hover{

transform:translateY(-12px);

}

.left-card{

border:1px solid rgba(0,255,255,.35);

box-shadow:

0 0 25px rgba(0,255,255,.18),

0 0 90px rgba(0,255,255,.12);

}

.right-card{

border:1px solid rgba(0,255,120,.35);

box-shadow:

0 0 25px rgba(0,255,120,.18),

0 0 90px rgba(0,255,120,.12);

}

/* IMAGE */

.hero-card img{
    width:100%;
    height:285px;
    object-fit:cover;
    display:block;
    object-position:top;
    border-radius:32px 32px 0 0;

    mask-image:linear-gradient(
        to bottom,
        black 65%,
        transparent 100%
    );

    -webkit-mask-image:linear-gradient(
        to bottom,
        black 65%,
        transparent 100%
    );

    transform:scale(1.05);
}

/* CONTENT */

.card-content{

padding:30px;

display:flex;

flex-direction:column;

justify-content:flex-start;

height:calc(100% - 250px);

}

.card-content h2{

font-size:28px;

line-height:1.15;

margin-top:15px;

font-weight:600;

}
.card-content p{

margin:18px 0;

color:#b6bfd8;

font-size:18px;

line-height:1.4;



}
.card-content button{

width:max-content;

border:none;

background:none;

font-size:19px;

font-weight:600;

cursor:pointer;

color:#1dd3ff;

transition:.35s;

}

.right-card button{

color:#2cff73;

}

.card-content button:hover{

transform:translateX(10px);

}
.hero-center{

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}

/* ICON */

.icon{

width:65px;

height:65px;

border-radius:18px;

display:flex;

align-items:center;

justify-content:center;

font-size:28px;

margin-bottom:22px;

background:rgba(0,255,255,.12);

color:#2dd4ff;

box-shadow:0 0 18px rgba(0,255,255,.35);

}

.green{

background:rgba(0,255,120,.12);

color:#31ff7b;

box-shadow:0 0 18px rgba(0,255,120,.35);

}